@use '../base/variables';

.navbar {
    &.navbar-light {

        @media (max-width: 1199px) {
            .navbar-collapse {
                background-color: variables.$color-blue;
                padding: 15px;
            }
        }

        .navbar-brand {
            @media (max-width: 1400px) {
                max-width: 200px;
            }

            @media (max-width: 575px) {
                max-width: 180px;
            }
        }

        .nav-link {
            font-family: GothamMedium;
            color: variables.$color-dark;

            &:hover {
                color: variables.$color-blue;
            }

            @media (max-width: 1199px) {
                color: #fff;

                &:hover {
                    color: variables.$color-dark;
                }
            }
        }

        .we-are-hiring {
            img {
                max-width: 80px;
                margin-right: 10px;
            }
        }

        .call-us {
            font-family: GothamBold;
            font-size: 20px;

            &:hover {
                color: variables.$color-dark;
            }
        }
    }
}